.App {
  width: calc(100% - 20px);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  & > *:first-child {
    width: 30%;
  }

  & > *:last-child {
    width: 60%;
  }
}
